.collections {
  position: relative;
  top: -121px;
  overflow-x: auto;

  h2 {
    margin-bottom: 21px;
  }

  &__list {
    position: relative;
    width: 100%;
    height: 344px;
    display: inline-flex;
    justify-content: space-between;
    overflow-x: hidden;

    &__scroll {
      margin: 0 30px;
      width: max-content;
      display: inline-flex;
      overflow-x: scroll;
      overflow-y: hidden;
      gap: 20px;
    }

    &__scroll::-webkit-scrollbar {
      width: 0;
    }

    .btn {
      position: absolute;
      top: 130px;
      width: 42px;
      height: 42px;
      background: #fafafa;
      box-shadow: 0 4px 6px rgba(244, 137, 137, 0.4);
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow-x: hidden;

      &-left {
        left: 4px;
      }

      &-right {
        right: 4px;
      }
    }
  }

  //&__list::-webkit-scrollbar {
  //  width: 0;
  //}
};
