.collections {
  position: relative;
  top: -121px;
  overflow-x: auto;

  h2 {
    margin-bottom: 21px;
  }

  &__list {
    position: relative;
    width: 100%;
    height: 344px;
    display: inline-flex;
    justify-content: space-between;
    overflow-x: hidden;

    &__scroll {
      position: relative;
      padding-left: 5px;
      width: max-content;
      display: inline-flex;
      gap: 20px;
      overflow-x: scroll;
      overflow-y: hidden;
      scroll-behavior: smooth;

      .btn {
        position: sticky;
        top: 130px;
        min-width: 42px;
        height: 42px;
        background: #fafafa;
        box-shadow: 0 4px 6px rgba(244, 137, 137, 0.4);
        border: none;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        cursor: pointer;

        &-left {
          left: 0;
        }

        &-right {
          right: 0;
        }

        .off {
          opacity: 0;
        }
      }
    }

    &__scroll::-webkit-scrollbar {
      width: 0;
    }
  }

  //&__list::-webkit-scrollbar {
  //  width: 0;
  //}
}
