@import "src/styles/index";

.staking {
  margin: 70px 30px 0;
  padding-bottom: 50px;
  width: 100%;
  height: max-content;

  @include b(900) {
    margin: 70px 0 0;
  }

  &__preview {
    position: relative;
    z-index: -1;
    margin-top: 30px;
    max-width: 100%;
    height: 188px;
    background: $soft-red;
    border-radius: 40px;

    &__bg {
      position: relative;
      z-index: -1;
      width: 100%;
      height: 100%;
      overflow: hidden;

      display: flex;
      justify-content: center;

      border-radius: 40px;
    }

    &__content {
      position: absolute;
      top: 27px;
      left: 42px;

      @include b(565) {
        top: 10px;
        left: 20px;
      }

      &__title {
        font-weight: 700;
        font-size: 60px;
        line-height: 90px;
        color: #fff;

        @include b(560) {
          font-size: 30px;
          line-height: 45px;
        }
      }

      &__text {
        width: 230px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: #fff;

        @include b(560) {
          width: 100px;
          font-weight: normal;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    &__picture {
      position: absolute;
      right: 0;
    }

    .blue-heart {
      top: 70px;
      right: -15px;
      z-index: 1;

      @include b(610) {
        display: none;
      }
    }

    .pink-heart {
      right: 285px;
      bottom: -10px;

      @include b(625) {
        display: none;
      }
    }

    .girl {
      right: 42px;
      bottom: 0;
      z-index: 0;

      @include b(610) {
        right: 0;
      }
    }

    .cloud {
      position: absolute;
      z-index: -1;
      right: 186px;
      top: -21px;

      @include b(670) {
        display: none;
      }
    }

    .crown {
      top: -16px;
      right: -5px;

      @include b(550) {
        display: none;
      }
    }
  }

  &__nav {
    margin: 40px 0 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include b(850) {
      flex-direction: column;
      gap: 15px;
    }

    &__switchers {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;

      @include b(400) {
        gap: 15px;
        justify-content: center;
      }

      &__rows {
        margin-right: 13px;
        cursor: pointer;
      }

      &__cards {
        margin-right: 34px;
        cursor: pointer;
      }

      &__staked-only {
        position: relative;
        margin-right: 9px;
        min-width: 38px;
        min-height: 21px;
        background: #fff;
        border: 0.8px solid $soft-red;
        box-sizing: border-box;
        border-radius: 11.2px;
        cursor: pointer;

        .switch-dot {
          position: absolute;
          top: -1px;
          width: 21px;
          height: 21px;
          background: #fff;
          border: 0.8px solid $soft-red;
          border-radius: 50%;
        }

        .on {
          right: -1px;
        }

        .off {
          left: -1px;
        }
      }

      .active {
        background: $soft-red;
      }

      span {
        margin-right: 25px;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        color: $soft-red
      }

      &__activity {
        padding: 2px;
        width: 170px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: rgba(193, 193, 193, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
        border-radius: 25px;

        &-item {
          padding: 11px 16px;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          text-align: center;
          color: rgba(0, 0, 0, 0.5);
          opacity: 1;
          border-radius: 26px;
          cursor: pointer;
        }

        .active {
          background: $soft-red;
          color: #fff;
        }
      }
    }

    &__items {
      position: relative;

      &__sort {
        width: 200px;
        cursor: pointer;

        .up {
          transform: rotate(180deg);
        }
      }

      .open {
        box-sizing: border-box;
        position: absolute;
        right: 0;
        top: 60px;
        z-index: 2;
        padding: 10px;
        width: 200px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        &__btn {
          box-sizing: border-box;
          height: 40px;
          cursor: pointer;
        }
      }

      .close {
        display: none;
      }

      @include b(400) {
        flex-direction: column;
        align-items: center;
        gap: 20px;
      }
    }
  }

  &__content {
    position: relative;
    overflow-x: hidden;

    @include b(850) {
      overflow-y: hidden;
    }

    .arrow-right {
      display: none;

      @include b(850) {
        display: block;
        position: absolute;
        left: 85vw;
        top: 0;
        width: 15px;
        animation-duration: 2s;
        animation-direction: normal;
        animation-iteration-count: infinite;
        animation-name: arrow;
      }
    }

    &__rows {
      padding: 34px 15px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      background: #f9e7e7;
      border-radius: 40px;
    }

    &__cards {
      position: relative;
      overflow-y: hidden;
      padding-top: 34px;

      .scroll {
        overflow-y: hidden;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 19px;
        grid-row-gap: 26px;

        @include b(1440) {
          grid-template-columns: repeat(2, 1fr);
          justify-items: center;
        }

        @include b(850) {
          display: inline-flex;
          overflow-x: scroll;
        }
      }
    }
  }
}
