@import 'src/styles/index';

.modal {
  position: absolute;
  left: calc(50% - 224px);
  top: 100px;
  z-index: 5;
  padding: 32px;
  max-width: 448px;
  max-height: 601px;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-shadow: 0 64px 64px -48px rgba(31, 47, 70, 0.12);
  border-radius: 20px;

  @include b(450) {
    top: 60px;
  }

  &__header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__title {
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 30px;
      line-height: 45px;
    }

    &__close {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid #e6e8ec;
      box-sizing: border-box;
      border-radius: 50%;
      cursor: pointer;
    }
  }

  &__steps {
    width: 100%;
    display: flex;
    flex-direction: column;

    .step {
      margin-top: 32px;
      display: flex;
      flex-direction: column;
      font-family: 'Brother-1816', sans-serif;
      font-weight: 700;
      font-size: 16px;
      line-height: 24px;

      &__info {
        display: flex;
        flex-direction: row;
        align-items: center;

        &__progress {
          margin-right: 20px;
          min-width: 48px;
          height: 48px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
        }

        &__description {
          display: flex;
          flex-direction: column;

          &__text {
            margin-top: 4px;
            color: #777e91;
          }
        }
      }

      &__status {
        margin-top: 16px;
        width: 100%;
        height: 56px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 90px;
        color: #fff;
      }

      .grey-bg {
        background: #e6e8ec;
      }

      .green-bg {
        background: #45b36b;
      }

      .soft-red-bg-active {
        background: #f48989;
      }

      .soft-red-bg {
        background: #f48989;
        opacity: 0.5;
      }

      .light-grey-bg {
        background: #fff;
        border: 2px solid $soft-red;
        color: $soft-red;
      }

      .loader {
        animation: preloader-rotate 2s infinite linear;
      }
    }
  }
}
