@import '../../scss/theme.scss';
@import '../../scss/mixins.scss';

.form {
  @include flex(column, center);
  max-width: 580px;
  min-width: 260px;
  background-color: $white;
  box-shadow: $shadow-container;
  z-index: 10;
  padding: 40px;
  user-select: none;
  border-radius: 8px;
  border-radius: 30px;
  &-label {
    @include flex(row, center, space-between);
    width: 100%;
    margin: 15px 0 0 0;
    font-size: 16px;
    font-weight: 400;
    color: $grey;
    opacity: 0.6;
    &-under {
      @include flex(row, center, space-between);
      width: 100%;
      margin: 10px 0 0 0;
      font-size: 16px;
      font-weight: 400;
      color: $grey;
    }
    &-uppercase {
      @include flex(row, center, space-between);
      width: 100%;
      margin: 30px 0 0 0;
      font-size: 16px;
      font-weight: 400;
      color: $grey;
      text-transform: uppercase;
      & > div:first-of-type {
        opacity: 0.6;
      }
      &:first-of-type {
        margin-top: 0;
      }
    }
    &-left {
      border: 1px solid #f48989;
      box-shadow: 0px 30px 50px rgba(244, 137, 137, 0.1);
      border-radius: 20px;
      font-size: 16px;
      color: #f48989;
      line-height: 24px;
      padding: 3px 10px 1px;
    }
    &-right {
      @include flex(row, center, flex-end);
      text-align: right;
      font-size: 16px;
      font-weight: 400;
      color: $grey;
      opacity: 0.6;
      &-error {
        @include flex(row, center, flex-end);
        padding: 5px 0px;
        text-align: right;
        height: 100%;
        font-size: 16px;
        font-weight: 400;
        color: $grey;
        background-color: $lightorange;
      }
    }
    &-error {
      @include flex(row, center, flex-start);
      box-sizing: border-box;
      text-align: right;
      width: 100%;
      margin: 10px 0 0 0;
      padding: 9px 0px;
      font-size: 16px;
      font-weight: 400;
      color: $grey;
      background-color: $lightorange;
      &-icon {
        margin-right: 10px;
      }
    }
    &-note {
      @include flex(row, center, flex-start, nowrap);
      box-sizing: border-box;
      text-align: left;
      width: 100%;
      margin: 20px 0 0 0;
      font-size: 16px;
      font-weight: 400;
      color: $grey;
      opacity: 0.6;
    }
    &-link-right {
      @include flex(row, center, flex-end);
      text-decoration: none;
      box-sizing: border-box;
      text-align: right;
      font-size: 16px;
      font-weight: 400;
      color: $grey;
    }
  }

  &-buttons {
    @include flex(row, center, space-between);
    box-sizing: border-box;
    width: 100%;
    &-one {
      @include flex(row, center, center);
      box-sizing: border-box;
      width: 100%;
    }
  }
}

.input-label-data {
  @include flex(row, center, space-between);
  width: 100%;
  box-sizing: border-box;
}

.input-label-inner {
  &-data {
    @include flex(row, center);
    cursor: pointer;
    text-decoration: none;
    color: $blue;
    padding: 5px;
  }
  &-image {
    width: 22px;
    height: 100%;
    margin-left: 5px;
    margin-top: -2px;
  }
}

.modal-gas {
  &-text {
    font-size: 16px;
    padding: 30px 30px 0px 30px;
  }
  &-buttons {
    @include flex(row, center, center);
    margin-top: 10px;
  }
}
