@import "src/styles/index";

.error {
  position: absolute;
  left: calc(50% - 175px);
  z-index: 3;
  margin: 200px auto;
  padding: 20px;
  box-sizing: border-box;

  width: 350px;

  background: #fff;

  border: 5px solid $soft-red;
  border-radius: 30px;

  &__content {
    &__text {
      text-align: center;
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;
      color: $soft-red;
    }
  }
}
