@import 'src/styles/index';

.profile {
  margin-bottom: 120px;
  width: 100%;

  &__top {
    position: relative;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    .bg-img {
      margin: 0 -140px;
      max-width: 1440px;
      height: 200px;
      z-index: 1;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;

      @include b(1440) {
        width: 100vw;
      }

      @include b(1150) {
        margin: 0 -20px;
      }
    }

    .avatar {
      position: absolute;
      left: calc(50% - 75px);
      bottom: -65px;
      z-index: 2;
      border: 5px solid #fff;
      border-radius: 50%;
    }

    .btns {
      position: absolute;
      right: 0;
      bottom: -20px;
      z-index: 2;
      height: 40px;
      display: flex;
      flex-direction: row;
      gap: 15px;

      @include b(1440) {
        right: -100px;
      }

      @include b(1150) {
        right: 0;
      }

      @include b(1024) {
        top: 16px;
        left: -5px;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }

      .exit {
        img {
          margin: 0;
        }
      }

      button {
        padding: 12px 16px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: 2px solid #fff;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #fcfcfd;

        a {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        img {
          margin-left: 13px;
        }
      }
    }
  }

  &__info {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__name {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-family: 'Poppins', sans-serif;
      font-weight: 700;
      font-size: 30px;
      line-height: 45px;
      color: $soft-red;

      button {
        margin-left: 13px;
        width: 60px;
        height: 44px;

        .content {
          margin: 1px;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #fff;
          border-radius: 20px;
        }
      }
    }

    &__bio {
      margin: 10px auto 20px;
      max-width: 535px;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: #959595;
    }

    .id {
      margin: 1px;
      padding: 12px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 14px;
      background: #fff;
      border-radius: 22px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 500;
      font-size: 15px;
      line-height: 18px;
      color: $soft-red;

      img {
        padding-bottom: 2px;
      }
    }

    &__links {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      gap: 15px;

      .link {
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #e6e8ec;
        box-sizing: border-box;
        border-radius: 40px;
      }
    }
  }

  &__navbar {
    margin-top: 36px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &__tab {
      padding: 0 12px 8px;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #959595;
      cursor: pointer;
    }

    .active {
      border-bottom: 3px solid $soft-red;
      color: #000;
    }
  }

  &__content {
    margin-top: 30px;
    width: 100%;

    .scroll {
      overflow-x: hidden;
      width: 100%;
    }

    &__items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 30px;

      @include b(1440) {
        grid-template-columns: repeat(3, 1fr);
      }

      @include b(900) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include b(640) {
        width: 89vw;
        display: inline-flex;
        gap: 20px;
        overflow-x: scroll;
      }
    }

    &__empty {
      padding-top: 30px;
      text-align: center;

      .text {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 25px;
        line-height: 37px;
        color: $soft-red;
      }

      .advice {
        margin-top: 10px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #959595;
      }
    }
  }
}
