@import 'src/styles/index';

.profile {
  margin: 60px 0 120px;

  width: 100%;

  &__top {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 200px;

    .bg-img {
      z-index: 1;

      margin: 0 -140px;

      display: flex;
      overflow: hidden;
      justify-content: center;
      align-items: center;

      width: 1440px;
      height: 200px;

      background: #f1f1f1;

      @include b(1440) {
        width: 100vw;
      }

      @include b(1150) {
        margin: 0 -20px;
      }

      img {
        width: 100%;

        @include b(500) {
          width: auto;
          height: 100%;
        }
      }
    }

    .avatar {
      position: absolute;
      z-index: 2;
      left: calc(50% - 75px);
      bottom: -65px;

      box-sizing: border-box;

      width: 150px;
      height: 150px;

      background: $soft-red;
      border: 5px solid #fff;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;

        border-radius: 50%;
      }
    }

    .btns {
      position: absolute;
      z-index: 2;
      right: 0;
      bottom: -20px;

      display: flex;
      flex-direction: row;

      max-height: 40px;
      gap: 15px;

      @include b(1440) {
        right: -100px;
      }

      @include b(1150) {
        right: 0;
      }

      @include b(1024) {
        top: 16px;
        left: -5px;

        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }

      .exit {
        img {
          margin: 0;
        }
      }

      button {
        padding: 12px 16px;

        max-height: 40px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        box-sizing: border-box;

        font-size: 14px;
        font-weight: 500;
        line-height: 16px;

        color: #fcfcfd;
        border: 2px solid #fff;

        a {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        img {
          margin-left: 13px;
        }
      }
    }
  }

  &__info {
    margin-top: 80px;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__name {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      font-family: 'Poppins', sans-serif;
      font-size: 30px;
      font-weight: 700;
      line-height: 45px;

      color: $soft-red;

      button {
        margin-left: 13px;

        width: 60px;
        height: 44px;

        .content {
          margin: 1px;

          display: flex;
          justify-content: center;
          align-items: center;

          width: 100%;
          height: 100%;

          background: #fff;
          border-radius: 20px;
        }
      }
    }

    &__bio {
      margin: 10px auto 20px;

      max-width: 535px;

      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      text-align: center;

      color: #959595;
    }

    .id {
      margin: 1px;
      padding: 12px 20px;

      display: flex;
      justify-content: center;
      align-items: center;

      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
      font-weight: 500;
      line-height: 18px;

      color: $soft-red;
      background: #fff;
      border-radius: 22px;
      gap: 14px;

      img {
        padding-bottom: 2px;
      }
    }

    &__links {
      margin-top: 20px;

      display: flex;
      flex-direction: row;
      gap: 15px;

      .link {
        display: flex;
        justify-content: center;
        align-items: center;

        box-sizing: border-box;
        width: 40px;
        height: 40px;

        border: 2px solid #e6e8ec;
        border-radius: 40px;
      }
    }
  }

  &__navbar {
    margin-top: 36px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;

    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    &__tab {
      padding: 0 12px 8px;

      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;

      cursor: pointer;

      color: #959595;
    }

    .active {
      color: #000;
      border-bottom: 3px solid $soft-red;
    }
  }

  &__content {
    margin-top: 30px;

    width: 100%;

    .scroll {
      overflow-x: hidden;

      width: 100%;
    }

    &__items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 30px;

      @include b(1440) {
        grid-template-columns: repeat(3, 1fr);
      }

      @include b(900) {
        grid-template-columns: repeat(2, 1fr);
      }

      @include b(640) {
        display: inline-flex;
        overflow-x: scroll;

        width: 89vw;
        gap: 20px;
      }
    }

    &__empty {
      padding-top: 30px;

      text-align: center;

      .text {
        font-family: 'Poppins', sans-serif;
        font-size: 25px;
        font-weight: 700;
        line-height: 37px;

        color: $soft-red;
      }

      .advice {
        margin-top: 10px;

        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;

        color: #959595;
      }
    }
  }
}
