@import 'src/styles/index';

.home {
  margin: 0;
  padding: 0;

  .cards {
    margin-top: 70px;
    width: 100%;

    .scroll {
      display: grid;
      grid-template-columns: repeat(4, 275px);
      grid-column-gap: 20px;
      grid-row-gap: 30px;
      justify-content: space-between;

      @include b(1440) {
        margin: 0 auto;
        grid-template-columns: repeat(3, 275px);
        justify-content: space-between;
      }
    }

    @include b(990) {
      height: 402px;
      display: flex;
      flex-direction: row;
      overflow-x: auto;

      .scroll {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 20px;
      }
    }
  }
}
