@import 'src/styles/index';

.header {
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include b(1440) {
    width: 100%;
  }

  @include b(1030) {
    display: none;
  }

  .main {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;

    &__logo {
      margin-right: 20px;
      width: 158px;
      cursor: pointer;
    }

    &__nav {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__link {
        margin-right: 15px;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: $soft-red;
        cursor: pointer;
      }
    }
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    .search {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 320px;
      height: 40px;
      border: 2px solid #e6e8ec;
      border-radius: 20px;

      @include b(1339) {
        padding-right: 2px;
        width: auto;
        max-width: 320px;
      }

      &__icon {
        margin-left: 11px;
        margin-right: 7px;
        padding-bottom: 2px;

        @include b(1339) {
          margin: auto 4px;
        }
      }

      input {
        border: none;
        outline: none;
      }

      input::placeholder {
        font-family: 'Poppins', sans-serif;
        font-weight: normal;
        font-size: 14px;
        line-height: 21px;
        color: #000;
        opacity: 0.6;
      }
    }

    a {
      text-decoration: none;
    }

    .profile-link {
      margin-left: 15px;
      padding: 4px;
      height: 40px;
      display: flex;
      flex-direction: row;
      align-items: center;
      border: 2px solid #e6e8ec;
      box-sizing: border-box;
      border-radius: 30px;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #000;

      img {
        margin-right: 4px;
        width: 32px;
      }
    }

    button {
      margin-left: 15px;
      min-width: 89px;
      height: 40px;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      cursor: pointer;
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 126px;
      height: 100%;
      background: #fff;
      border-radius: 30px;

      &__text {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
      }
    }
  }
}

.header-mobile {
  display: none;

  @include b(1030) {
    margin-left: -20px;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100vw;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
  }

  .logo {
    width: 120px;
  }

  .nav-btn {
    position: absolute;
    top: 24px;
    left: 15px;
    z-index: 110;

    &__create {
      padding: 20px 10px;
      position: absolute;
      right: 20px;
      top: 10px;
      z-index: 110;
      height: 40px;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      cursor: pointer;
    }
  }

  .nav {
    padding: 0 10px 20px;
    position: fixed;
    top: 50px;
    z-index: 100;
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;

    &__top {
      margin-top: 44px;

      a {
        text-decoration: none;
      }

      .profile-link {
        margin: 0 auto 37px;
        padding: 4px;
        width: 370px;
        height: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: 2px solid #e6e8ec;
        box-sizing: border-box;
        border-radius: 30px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: #000;

        @include b(400) {
          width: 100%;
        }

        img {
          margin-right: 4px;
          width: 32px;
        }
      }

      &__main {
        margin-bottom: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;

        &__link {
          font-family: 'Poppins', sans-serif;
          font-weight: 800;
          font-size: 20px;
          line-height: 30px;
          color: #f48989;
        }
      }

      button {
        margin: 10px;
        width: 370px;
        height: 62px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        cursor: pointer;

        @include b(400) {
          margin: 10px auto;
          width: 100%;
        }

        .nav__button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          background: #fff;
          border-radius: 31px;
        }
      }

      .search {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          margin-right: 7px;
        }

        input {
          border: none;
        }
      }
    }

    &__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;

      .links {
        margin-bottom: 53px;

        a {
          margin: 0 12px;
          font-family: 'Poppins', sans-serif;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #959595;
          text-decoration: none;
        }
      }

      .contacts {
        padding: 0 50px 32px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 39px;
        border-bottom: 1px solid #e6e8ec;
      }

      .copyright {
        margin-top: 30px;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #959595;
      }
    }
  }
}
