@import 'src/styles/index';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  width: 100vw;

  @include b(1440) {
    width: 100%;
  }

  @include b(1030) {
    display: none;
  }

  .main {
    display: flex;
    flex-direction: row;
    align-items: center;

    background-color: #fff;

    &__logo {
      margin-right: 20px;
      padding-top: 5px;

      width: 150px;

      cursor: pointer;
    }

    &__nav {
      display: flex;
      flex-direction: row;
      align-items: center;

      &__link {
        margin-right: 15px;

        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        line-height: 21px;
        text-decoration: none;
        outline: none;

        cursor: pointer;

        color: $soft-red;

        &:hover {
          font-weight: 700;
        }
      }
    }
  }

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;

    .search {
      display: flex;
      flex-direction: row;
      align-items: center;

      width: 200px;
      height: 40px;

      border: 2px solid #e6e8ec;
      border-radius: 20px;

      @include b(1339) {
        padding-right: 2px;

        width: auto;
        max-width: 320px;
      }

      &__icon {
        margin-right: 7px;
        margin-left: 11px;
        padding-bottom: 2px;

        @include b(1339) {
          margin: auto 4px;
        }
      }

      input {
        border: none;
        outline: none;
        width: 100%;
      }

      input::placeholder {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: normal;
        line-height: 21px;

        color: #000;
        opacity: 0.6;
      }
    }

    a {
      text-decoration: none;
    }

    .currency {
      position: relative;
      margin-left: 15px;
      padding: 4px;

      min-width: 160px;
      min-height: 40px;

      display: flex;
      flex-direction: column;

      box-sizing: border-box;

      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;

      color: #000;
      border: 2px solid #e6e8ec;
      border-radius: 30px;

      cursor: pointer;

      &:hover {
        padding: 3px;
        border: 3px solid #e6e8ec;
      }

      .show {
        position: absolute;
        left: -25px;
        top: 0;
        margin: -4px;
        padding: 4px;
        min-width: 200px;
        background: #fff;
        border: 2px solid #e6e8ec;
        border-radius: 20px;
        animation: 1s ease-in;

        &:hover {
          padding: 3px;
        }
      }

      &__item {
        display: flex;
        flex-direction: row;
        align-items: center;

        img {
          margin-right: 4px;

          width: 32px;
        }
      }
    }

    .profile-link {
      margin-left: 15px;
      padding: 0;

      box-sizing: border-box;

      width: 40px;
      height: 40px;

      display: flex;
      justify-content: center;
      align-items: center;

      border: 2px solid #e6e8ec;
      border-radius: 50%;

      &:hover {
        width: 50px;
        height: 50px;
      }

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;

        &:hover {
          width: 50px;
          height: 50px;
        }
      }
    }

    button {
      margin-left: 15px;

      min-width: 89px;
      height: 40px;

      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;

      cursor: pointer;
    }

    .connect {
      padding: 0 20px;
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 126px;
      height: 100%;

      background: #fff;
      border-radius: 30px;

      &__text {
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
      }
    }
  }
}

.header-mobile {
  display: none;
  box-sizing: border-box;

  @include b(1030) {
    position: fixed;
    z-index: 100;
    top: 0;

    margin-left: -20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    min-height: 60px;

    background: #fff;
  }

  .logo {
    width: 120px;
  }

  .nav-btn {
    position: absolute;
    z-index: 110;
    top: 24px;
    left: 15px;

    &__create {
      position: absolute;
      z-index: 110;
      top: 10px;
      right: 20px;

      padding: 20px 10px;

      height: 40px;

      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;

      cursor: pointer;
    }
  }

  .nav {
    position: fixed;
    z-index: 1000;
    top: 50px;

    padding: 0 10px 20px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 100vh;

    background: #fff;

    &__top {
      margin-top: 20px;
      padding: 0 15px;
      width: 90%;

      a {
        text-decoration: none;
      }

      .currency {
        position: relative;
        margin: 0 auto 20px;
        padding: 4px;

        max-width: 370px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        box-sizing: border-box;

        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;

        color: #000;
        border: 2px solid #e6e8ec;
        border-radius: 30px;

        cursor: pointer;

        &__item {
          display: flex;
          flex-direction: row;
          align-items: center;

          img {
            margin-right: 4px;

            width: 32px;
            height: 32px;
          }
        }
      }

      .profile-link {
        margin: 0 auto 20px;
        padding: 4px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        box-sizing: border-box;
        width: 370px;
        height: 40px;

        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;

        color: #000;
        border: 2px solid #e6e8ec;
        border-radius: 30px;

        @include b(400) {
          width: 100%;
        }

        img {
          margin-right: 4px;

          width: 32px;

          border-radius: 50%;
        }
      }

      &__main {
        margin-bottom: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        &__link {
          font-family: 'Poppins', sans-serif;
          font-size: 16px;
          font-weight: 800;
          line-height: 24px;

          color: #f48989;
        }
      }

      button {
        margin: 10px auto;

        width: 370px;
        height: 40px;

        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;

        cursor: pointer;

        @include b(400) {
          margin: 10px auto;

          width: 100%;
        }

        .nav__button {
          display: flex;
          justify-content: center;
          align-items: center;

          width: 100%;
          height: 100%;

          background: #fff;
          border-radius: 31px;
        }
      }

      .search {
        margin-top: 30px;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
          margin-right: 7px;
        }

        input {
          padding-left: 10px;
          border: 2px solid #e6e8ec;
          border-radius: 30px;
        }
      }
    }

    &__bottom {
      display: flex;
      flex-direction: column;
      align-items: center;

      .contacts {
        margin: 20px auto 0;
        padding: 0 50px 10px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        border-bottom: 1px solid #e6e8ec;
        gap: 39px;
      }

      .copyright {
        margin-top: 10px;

        font-family: 'Poppins', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;

        color: #959595;
      }
    }
  }
}
