@import 'src/styles/index';

.main {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #fff;

  &__logo {
    margin-right: 20px;
    width: 158px;
    cursor: pointer;
  }

  &__nav {
    display: flex;
    flex-direction: row;

    &__link {
      margin-right: 15px;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: $soft-red;
      cursor: pointer;
    }
  }
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;

  .search {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 320px;
    height: 40px;
    border: 2px solid #E6E8EC;
    border-radius: 20px;

    &__icon {
      margin-left: 11px;
      margin-right: 7px;
      padding-bottom: 2px;
    }

    input {
      border: none;
      outline: none;
    }

    input::placeholder {
      font-family: 'Poppins', sans-serif;
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #000;
      opacity: 0.6;
    }
  }

  button {
    margin-left: 15px;
    min-width: 89px;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    cursor: pointer;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 126px;
    height: 100%;
    background: #fff;
    border-radius: 30px;

    &__text {
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
    }
  }
}
