@import 'src/styles/index';

.create {
  margin: 120px auto 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include b(520) {
    margin-top: 110px;
  }

  &__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;

    @include b(520) {
      font-size: 20px;
      line-height: 30px;
    }

    a {
      position: relative;
      box-sizing: border-box;
      margin-right: 20px;
      padding-bottom: 12px;

      @include b(520) {
        padding: 0;
      }

      .link-red {
        display: none;
        position: absolute;
        bottom: 31px;
      }

      &:hover {
        .link-red {
          display: block;
        }

        .link-black {
          visibility: hidden;
        }
      }
    }
  }

  &__text {
    margin-top: 33px;
    max-width: 600px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
  }

  &__items {
    margin-top: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    @include b(800) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;
    }

    a {
      text-decoration: none;
      color: #000;
    }

    .item {
      padding: 4px;
      max-width: 350px;
      max-height: 350px;
      background: #f5f5f5;
      border-radius: 24px;
      cursor: pointer;

      @include b(800) {
        width: auto;
      }

      &:hover {
        background: $gradient;

        .item__content__text {
          font-weight: 700;
          background: $gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &__content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #fff;
        border-radius: 21px;

        img {
          width: 100%;
          border-radius: 21px;
        }

        &__text {
          margin: 33px auto 44px;
          font-family: 'Poppins', sans-serif;
          font-weight: 500;
          font-size: 22px;
          line-height: 33px;
          text-align: center;
          opacity: 0.5;
        }
      }
    }
  }

  &__footer {
    margin-top: 50px;
    width: 400px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #959595;

    @include b(420) {
      width: 100%;
    }
  }
}
