@import "src/styles/index";

.explore {
  margin-bottom: 120px;
  overflow-x: auto;

  &__nav {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    overflow-x: scroll;

    &__item {
      position: relative;
      padding: 9px 12px;
      height: 35px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background: #fff;
      border: 1px solid #ededed;
      box-sizing: border-box;
      border-radius: 12px;
      cursor: pointer;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      color: $soft-red;
    }

    .red {
      background: $soft-red;
      color: #fff;
    }

    &__item:hover {
      box-shadow: 0 4px 12px rgba(244, 137, 137, 0.2);
    }

    &__sort {
      position: absolute;
      right: 5%;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 13px;
      line-height: 16px;

      @include b(990) {
        top: 50px;
      }

      .btn {
        cursor: pointer;
      }

      .arrow {
        margin-left: 9px;
      }

      .down {
        transform: rotate(180deg);
      }

      .close {
        display: none;
      }

      .open {
        padding: 20px;
        position: relative;
        top: 20px;
        z-index: 10;
        min-width: 168px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background: #fff;
        border: 1px solid #ededed;
        box-sizing: border-box;
        box-shadow: 0 4px 12px rgba(244, 137, 137, 0.2);
        border-radius: 12px;

        &__item {
          cursor: pointer;
        }

        .red {
          background: #fff;
          color: $soft-red;
        }

        .non-checked {
          display: none;
        }

        .checked {
          margin-left: 10px;
        }

        .switch {
          display: flex;
          flex-direction: row;

          &__btn {
            margin-left: 80px;
            padding: 4px;
            width: 37px;
            height: 22px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            background: #e7e7e7;
            box-sizing: border-box;
            border: 2px solid #cfcfd0;
            border-radius: 11px;
            cursor: pointer;

            &__circle {
              width: 14px;
              height: 14px;
              background: linear-gradient(93.58deg, #dadada -2.94%, #afafaf 101.05%);
              border-radius: 50%;
            }

            .colored {
              background: linear-gradient(105.93deg, #8834a2 -23.55%, #d9226e 103.33%);
            }
          }

          .active {
            display: flex;
            justify-content: flex-end;
            background: #fff;
            border: 2px solid $soft-red;
          }
        }
      }
    }
  }

  &__nav::-webkit-scrollbar {
    width: 0;
  }

  &__cards {
    margin-top: 30px;
    width: 100%;
    overflow-x: hidden;

    .scroll {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 30px;

      @include b(1440) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    @include b(990) {
      display: flex;
      overflow-x: hidden;

      .scroll {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 20px;
        overflow-x: scroll;
      }
    }
  }
}
