@import 'src/styles/index';

.footer {
  padding: 40px 0;
  width: 100%;
  border-top: 1px solid #e6e8ec;

  @include b(1024) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__nav {
    margin: 52px 0 30px;
    padding-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #e6e8ec;

    @include b(1024) {
      flex-direction: column;
      align-items: center;
      gap: 60px;
    }

    &__items {
      display: flex;
      flex-direction: row;
      justify-content: center;

      @include b(1024) {
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
      }

      &__item {
        margin-right: 117px;
        display: flex;
        flex-direction: column;

        @include b(1024) {
          margin: 0;
          align-items: center;
        }

        .title {
          font-family: 'Poppins', sans-serif;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          color: $soft-red;
        }

        .links {
          margin-top: 10px;
          display: flex;
          flex-direction: row;
          gap: 24px;

          a {
            font-family: 'Poppins', sans-serif;
            font-weight: normal;
            font-size: 14px;
            line-height: 16px;
            color: #959595;
            text-decoration: none;
          }
        }
      }
    }

    &__contacts {
      position: relative;
      bottom: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 38px;
    }
  }

  .copyright {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #959595;

    @include b(400) {
      text-align: center;
    }
  }
}
